[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DMRnet"]
	path = DMRnet
	url = https://github.com/szymonnowakowski/dmrnet
[submodule "hclust1d"]
	path = hclust1d
	url = https://github.com/szymonnowakowski/hclust1d
